a {
	color: var(--blue);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8vh auto 0;
	padding: 16px;
	max-width: 640px;
	gap: 40px;
}

.brand {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-family: 'ROKAF Sans';
	font-weight: 700;
	font-size: 64px;
	color: var(--blue);
	gap: 20px;
}

@media screen and (max-width: 425px) {
	.logo {
		width: 50px;
		height: 50px;
	}
	.brand {
		font-size: 16px;
	}
}


form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}

.input-box {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.input-box label {
	font-size: 18px;
	font-weight: 700;
}

.input-box input {
	border: none;
	background-color: var(--gray-100);
	padding: 15px 24px;
	border-radius: 15px;
}

.input-box input::-webkit-input-placeholder {
	color: var(--gray-400);
}

.input-box input:focus {
	outline: 2px solid var(--blue);
}

#eye-slash {
	position: absolute;
	width: 20px;
	right: 16px;
	bottom: 12px;
	cursor: pointer;
}

#eye-slash-confirm {
	position: absolute;
	width: 20px;
	right: 16px;
	bottom: 12px;
	cursor: pointer;
}

.signup-btn,
.login-btn {
	background-color: var(--blue);
	color: white;
	font-weight: 400;
	font-size: 20px;
	cursor: pointer;
	padding: 12px 0 12px;
	border: none;
	border-radius: 40px;
}

.login-btn:disabled,
.signup-btn:disabled {
	background-color: var(--gray-400);
	cursor: not-allowed;
}

.social-login {
	display: flex;
	align-items: center;
	background-color: var(--blue-50);
	width: 100%;
	padding: 16px 23px;
	gap: 16px;
	border-radius: 8px;
}

.social-login span {
	flex-grow: 1;
}

@media (max-width: 767px) {
	.container {
		max-width: 400px;
	}

	.brand {
		font-size: 16px;
	}

	.logo {
		width: 50px;
		height: 50px;
	}
}