:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --blue: #3692ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panda-logo-a {
  margin-top: 60px;
}

.join {
  margin-bottom: 178px;
}

.hearder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panda-logo-img {
  width: 396px;
  height: 132px;
  margin: 0 122px 40px 122px;
}

.main {
  flex-grow: 1;
}

.all-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.google-logo,
.kakao-logo {
  width: 42px;
  height: 42px;
}

.google-logo {
  margin-right: 16px;
}

.kakao-logo {
  margin-right: 23px;
}

#google {
  text-decoration: none;
}
#kakao {
  text-decoration: none;
}

.simple-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f2ff;
  border-radius: 8px;
  color: var(--gray-800);
  max-width: 640px;
  height: 74px;
  padding-left: 23px;
}

.form label {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Pretendard";
}

.form input {
  margin-bottom: 24px;
  border-radius: 12px;
  width: 640px;
  height: 56px;
  background-color: #f3f4f6;
  border: 0;
  padding: 0 0 0 24px;
}

.eyes {
  width: 20px;
  height: 18px;
  position: relative;
  top: 5px;
  right: 50px;
}

.form button {
  margin-bottom: 24px;
  width: 640px;
  height: 56px;
  border-radius: 40px;
  border: 0;
  background-color: var(--gray-400);
  color: #f3f4f6;
  font-size: 20px;
}

.form button:hover {
  background-color: var(--blue);
}

.join {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

#join {
  margin-left: 4px;
}

.join-first {
  color: var(--gray-800);
}

@media (max-width: 1199px) {
  .panda-logo-a {
    margin-top: 48px;
  }

  .join {
    margin-bottom: 243px;
  }
}

@media (max-width: 766px) {
  .panda-logo-a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 24px;
  }

  .panda-logo-img {
    width: 198px;
    height: 66px;
    margin: 0;
  }

  .hearder {
    max-width: 400px;
    width: 100%;
  }

  .form label {
    width: 100%;
    max-width: 400px;
    margin-bottom: 8px;
  }

  .form input {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
  }

  .password-check-flex {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    height: 56px;
  }

  .form button {
    width: 100%;
    max-width: 400px;
  }

  .eyes {
    top: -95%;
    left: 85%;
  }

  .simple-login {
    width: 100%;
    max-width: 400px;
  }

  .join {
    margin-bottom: 179px;
  }
}
