* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Pretendard";
  max-width: 100vw;
}

main {
  overflow: hidden;
  padding-top: 70px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.panda-logo-image {
  width: 9.563rem;
  height: 3.188rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #3692ff;
  color: #f3f4f6;
  width: 8rem;
  height: 3rem;
  gap: 0.625rem;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 11px 0;
}

.landing-page {
  max-width: 100%;
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 12.5rem;
  height: 12.5rem;
}

.large-text {
  font-size: 2.5rem;
  font-family: "Pretendard";
  font-weight: 700;
  line-height: 3.5rem;
  color: #374151;
}

.see-flex {
  width: 357px;
  height: 3.5rem;
}

.see {
  text-decoration: none;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 357px;
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  background-color: #3692ff;
  color: #f9fafb;
}

.see:hover,
.login:hover {
  background-color: #1967d6;
}

.main-img {
  width: 100%;
  max-width: 746px;
  height: 21.25rem;
  position: relative;
  top: 12.5rem;
  object-fit: cover;
}

.second-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 138px;
  margin-bottom: 138px;
}

.main-list {
  display: flex;
  flex-direction: column;
}

.text-box {
  background-color: #fcfcfc;
  width: 400px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
}

.event-text {
  font-size: 1.125rem;
  font-weight: 700;
  color: #3692ff;
}

.event-large-text {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #374151;
}

.text-box-search {
  background-color: #fcfcfc;
  width: 400px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 64px;
  text-align: right;
}

.text-box-register {
  background-color: #fcfcfc;
  width: 400px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
}

.empty-area {
  height: 138px;
  background-color: #fcfcfc;
}

.landing-page-last {
  max-width: 100%;
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;
}

.large-text-last {
  font-size: 2.5rem;
  font-family: "Pretendard";
  font-weight: 700;
  line-height: 56px;
  color: #374151;
  position: relative;
  top: 50px;
  margin-right: 60px;
}

.footer {
  background-color: #111827;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 160px;
  padding-top: 32.5px;
}

.design {
  color: #9ca3af;
}

.fqa {
  display: flex;
  gap: 30px;
}

.footer p {
  margin: 32.5px 0;
}

.real-last {
  color: #e5e7eb;
  text-decoration: none;
}

.last-img {
  display: flex;
  gap: 10px;
}

#twiter {
  position: relative;
  top: 3px;
}
/* Tablet (768px ~ 1199px) */
@media (max-width: 1199px) {
  .nav-flex {
    margin: 0;
    padding: 0 24px;
  }

  .landing-page {
    height: 771px;
  }

  .landing-page-text {
    width: auto;
    height: 56px;
    position: relative;
    top: 84px;
    left: 400px;
    white-space: nowrap;
  }

  .large-text {
    margin-bottom: 24px;
  }
  
  h2.large-text br {
    display: none;
  }

  .see-flex {
    position: relative;
    left: 80px;
  }

  .main-list {
    margin: 24px 24px 0 24px;
  }

  .main-img {
    top: 430px;
    right: 255px;
    width: 100%;
    max-width: 100%;
  }

  .second-page {
    margin: 0;
  }

  .second-page img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .second-page#hot-item {
    flex-direction: column;
  }

  .text-box,
  .text-box-search,
  .text-box-register {
    width: 100%;
    height: auto;
    margin-top: 24px;
    padding: 0;
  }

  .event-text {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .event-large-text {
    font-size: 32px;
  }

  .hot-text {
    margin-top: 24px;
    font-size: 18px;
  }

  .event-large-text br {
    display: none;
  }

  .second-page#search {
    margin-top: 52px;
    flex-direction: column-reverse;
  }

  .second-page#register {
    margin-top: 52px;
    flex-direction: column;
  }

  .empty-area {
    height: 56px;
  }

  .landing-page-last {
    width: 100%;
    height: 927px;
  }

  .reliable {
    position: relative;
    left: 50px;
  }

  .large-text-last {
    top: 150px;
  }

  .main-img#last {
    top: 587px;
    height: 397px;
    width: 100%;
    right: 176px;
  }
}

@media (max-width: 766px) {
  .nav-flex {
    padding: 0 16px;
  }

  .landing-page {
    height: 540px;
  }

  h2.large-text br {
    display: block;
  }

  .landing-page-text {
    width: auto;
    height: 156px;
    left: 280px;
  }

  .large-text {
    font-size: 32px;
  }

  .deal {
    position: relative;
    left: 35px;
  }

  .see-flex {
    position: relative;
    left: 0;
  }
  
  .event-text {
    font-size: 16px;
    white-space: nowrap;
  }

  .event-large-text {
    font-size: 24px;
    white-space: nowrap;
  }

  .hot-text {
    font-size: 16px;
    white-space: nowrap;
  }

  .see {
    width: 240px;
    height: 48px;
  }

  .main-img {
    height: 204px;
    top: 336px;
    right: 177px;
    width: 448px;
    max-width: 448px;
    object-fit: cover;
  }

  .landing-page-last {
    width: 100%;
    height: 540px;
  }

  .large-text-last {
    font-size: 32px;
    top: 0;
    right: 50px;
  }

  .main-img#last {
    width: 375px;
    max-width: 375px;
    height: 198px;
    top: 342px;
    right: 148px;
  }

  .reliable {
    position: relative;
    left: 40px;
  }

  .design {
    position: relative;
    white-space: nowrap;
    top: 80px;
    left: 32px;
  }

  .fqa,
  .last-img {
    position: relative;
    right: 78px;
  }

  .fqa {
    margin-right: 20px;
    white-space: nowrap;
  }

  .last-img {
    top: 3px;
    right: 50px;
  }
}
