hr {
  background-color: var(--secondary-300);
  border: 0;
  height: 1px;
}
main#item-detail {
  margin: 24px auto 120px;
  width: 1200px;
  > #item-detail-area {
    > .img-wrapper {
      width: 486px;
      aspect-ratio: 1;
      overflow: hidden;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }
    > #item-detail-right {
      flex-grow: 1;
      > #item-detail-header {
        justify-self: stretch;
        > #item-detail-desc p {
          line-height: 26px;
        }
      }
      > #item-detail-owner {
        > div {
          flex-grow: 1;
          justify-self: stretch;
          > .img-wrapper {
            width: 40px;
          }
        }
        > hr {
          width: 1px;
          height: 34px;
        }
        > #btn-like {
          height: 40px;
          padding: 4px 12px;
          border: 1px solid var(--secondary-300);
          > img {
            width: 32px;
            height: 32px;
          }
        }
        #btn-like:hover {
          background-color: var(--secondary-200);
        }
      }
    }
  }
  > #comments-area {
    #comment-form {
      > .input-field textarea {
        height: 104px;
      }
    }
    #btn-comment-update {
      border: 0;
      color: var(--secondary-500);
      background-color: white;
    }
    #btn-comment-update:hover {
      background-color: var(--secondary-200);
    }
    > div > #comment-item {
      position: relative;
      padding-bottom: 12px;
      border-bottom: 1px solid #e5e7eb;
      #btn-more-comment > img {
        width: 24px;
      }
      #profile-img {
        width: 32px;
      }
      > #feature-box {
        top: 34px;
        right: 0;
        position: absolute;
        border: 1px solid var(--secondary-400);
        padding: 4px 0;
        > li {
          min-width: 138px;
          padding: 12px 18px;
          height: 46px;
          cursor: pointer;
          color: #6b7280;
          line-height: 26px;
          text-align: center;
        }
      }
    }
    > #comments-empty {
      img {
        width: 196px;
      }
    }
    #btn-back {
      margin-top: 48px;
      > img {
        width: 24px;
      }
    }
  }
  @media (width < 1200px) {
    /* Tablet */
    margin-left: 24px;
    margin-right: 24px;
    width: inherit;
    > #item-detail-area {
      gap: 16px;
      > .img-wrapper {
        width: 340px;
      }
    }
  }
  @media (width < 768px) {
    /* Mobile */
    > #item-detail-area {
      flex-direction: column;
      > .img-wrapper {
        width: 100%;
      }
    }
  }
}

#tag-list {
  flex-wrap: wrap;
  > #tag {
    height: 36px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-200);
    color: var(--secondary-900);
    border-radius: 26px;
    padding: 5px 16px;
    cursor: pointer;
  }
}
