.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom: 40px;
}

.header-logo a img {
  width: 396px;
  height: 132px;
}

.login-page {
  width: 640px;
  height: 618px;
  margin: auto;
}

.login-container {
  display: block;
  background-color: white;
  margin: 0 auto;
}

.login-form label {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
  line-height: 26px;
}

.login-form input {
  box-sizing: border-box;
  display: block;
  padding: 16px 24px;
  margin-top: 16px;
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 12px;
  border: none;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.login-form input::placeholder {
  color: #9ca3af;
}

.login-form input:focus {
  outline-color: #3692ff;
}

.error {
  /* !important가 있어야지만, border: none;보다 우선적으로*/
  border: 1px solid #f74747 !important;
}

.error-message {
  min-height: 24px;
  color: #f74747;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 8px 0 18px 16px;
}

.button-wide {
  width: 100%;
  border-radius: 40px;
  padding: 16px 124px;
  margin-bottom: 24px;
  color: white;
  background-color: #9ca3af;
  cursor: not-allowed;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  align-items: center;
  border: 0px;
}

.button-wide:enabled {
  background-color: #3692ff;
  cursor: pointer;
}

button:focus {
  outline: none;
  outline-color: #3692ff;
}

.easy-login {
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 16px 23px;
  margin-bottom: 24px;
  min-height: 42px;
}

.easy-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.easy-login-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #1f2937;
  white-space: nowrap;
}

.login-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login-icon img {
  width: 42px;
  height: 42px;
}

.join-membership {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
  gap: 4px;
}

.password-container {
  position: relative;
  width: 100%;
}

#toggle-password {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%); /* 아이콘을 수직 중앙 정렬 */
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
}

#eye-icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  main {
    width: 100%;
    max-width: 400px;
    margin: auto 0;
  }

  .header {
    margin-bottom: 24px;
    height: auto;
  }

  .header-logo a img {
    width: 198px;
    height: 66px;
  }

  .login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .login-form input {
    width: 100%;
    margin: 8px 0 0 0;
  }

  .button-wide {
    width: 100%;
  }
}
