a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  display: block;
  width: 100%;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
}

.header__container {
  margin: 10px 350px 9px;
  display: flex;
  justify-content: space-between;
}

.header__container img {
  width: 153px;
  height: 51px;
}

.header__container button {
  width: 128px;
  padding: 12px 23px;
  color: white;
  background-color: var(--blue);
  border-radius: 8px;
  border: solid 1px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.main__explain {
  width: 360px;
}

.main__image__container {
  display: flex;
  justify-content: center;
  background-color: #cfe5ff;
  color: var(--gray700);
  width: 100%;
  margin: 0 auto;
  padding: 200px 0 0;
}

.main__image__container p {
  margin-bottom: 32px;
  margin-right: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
}

.main__image__container button {
  margin-bottom: 60px;
  border-radius: 40px;
  border: solid 1px;
  color: var(--gray50);
  background-color: var(--blue);
  width: 357px;
  height: 56px;
  font-size: 20px;
  font-weight: 600;
}

.main__image__container img {
  width: 740px;
  height: auto;
}

.flex__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 1020px;
  display: flex;
  align-items: center;
  gap: 64px;
  margin: 138px 0;
  background-color: #fcfcfc;
}

.min__title {
  font-weight: bold;
  font-size: 18px;
  color: var(--blue);
  margin: 0px;
}

.card__text {
  display: flex;
  flex-direction: column;
  margin-right: 23.5px;
}

.explanation__content {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.4;
  color: var(--gray700);
  margin: 12px 52px 24px 0;
  width: 100%;
}

.explanation__detail {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray700);
  margin: 0;
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.sizing__container {
  width: 320px;
}

footer {
  background-color: var(--gray900);
  height: 160px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.footer__text {
  color: var(--gray400);
  padding-right: 366.5px;
  margin-top: 32px;
}

.footer__text--a {
  color: var(--gray200);
  padding-right: 15px;
  margin-top: 32px;
}

.footer__sns {
  color: #ffffff;
  padding-left: 366.5px;
  margin-top: 32px;
}

.footer__marginRight {
  margin-right: 12px;
}

.fa-brands {
  color: white;
  width: 20px;
  height: 20px;
}

.break-md {
  display: block;
  height: 0;
}

@media (max-width: 1024px) {
  header {
    padding: 0 24px;
  }

  .main__image__container {
    flex-direction: column;
    align-items: center;
  }

  .header__container {
    margin: 10px 24px 9px;
  }

  .main__explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main__image__container p {
    margin-right: 0;
  }
  .card {
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
    align-items: normal;
    padding: 0 24px;
    background-color: white;
  }
  .explanation__content .break-md {
    display: none;
  }

  .sizing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main__image__container .sizing__container {
    margin-bottom: 217px;
  }

  .footer__text {
    padding-right: 63.44px;
  }

  .footer__sns {
    padding-left: 63.44px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  header {
    padding: 0 16px;
  }

  .main__explain {
    max-width: 240px;
    margin-bottom: 132px;
  }
  .main__image__container {
    padding: 150px 0 0;
  }
  .main__image__container p {
    text-align: center;
    font-size: 32px;
  }

  .main__image__container button {
    max-width: 240px;
    font-size: 18px;
  }

  .main__image__container .sizing__container {
    margin-bottom: 131px;
  }

  .card {
    margin: 52px 0;
  }

  footer {
    flex-wrap: wrap;
    height: auto;
    padding: 24px 16px;
    align-items: flex-start;
  }

  .footer__text {
    order: 2;
    margin-top: 24px;
    padding-right: 0;
    width: 100%;
    padding-left: 50px;
  }

  .footer__text--a,
  .footer__sns {
    order: 1;
    margin-top: 0;
    padding-right: 50px;
    padding-left: 50px;
  }
}
