body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1080px;
}

a {
  text-decoration: none;
}

.login__container {
  max-width: 640px;
  width: 100%;
}

/*logo*/
.logo__container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__container img {
  width: 103.53px;
  height: 103.88px;
  cursor: pointer;
}

.logo__text {
  font-size: 66.34px;
  font-weight: 700;
  font-family: ROKAF Sans;
  color: var(--blue);
  margin: 0 4.23px 0 22.24px;
}

/*input*/

.login__input__text {
  font-weight: 700;
  font-size: 18px;
  color: var(--gray800);
}

.login__input {
  background-color: var(--gray100);
  width: 100%;
  max-width: 640px;
  height: 56px;
  border-radius: 12px;
  border: none;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray800);
  padding-left: 24px;
  padding-right: 24px;
}

.login__input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

/*button*/
.login__button {
  background-color: var(--blue);
  width: 100%;
  max-width: 640px;
  height: 56px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray100);
  cursor: pointer;
}

/*sns*/
.snsAuth__container {
  margin: 24px 0;
  width: 100%;
  max-width: 640px;
  height: 74px;
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray800);
}

.snsAuth__icon {
  margin-right: 16px;
  width: 42px;
  height: 42px;
}

/*signup*/
.explain__signup__text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray800);
}

.linked__page {
  color: var(--blue);
  margin-left: 4px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 767px) {
  .logo__container img {
    width: 51.76px;
    height: 51.94px;
  }

  .logo__text {
    font-size: 33.17px;
  }

  .login__input__text {
    font-size: 14px;
  }

  .login__container {
    max-width: 400px;
  }
  .login__input {
    max-width: 400px;
  }
  .login__button {
    max-width: 400px;
  }
  .snsAuth__container {
    max-width: 400px;
  }
}
