:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray300: #d1d5db;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --blue: #3692ff;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard Variable';
}

.login__container {
  margin: 231px 640px;
  width: 650px;
  height: 618px;
}

.signup__container {
  width: 640px;
  height: 857px;
  margin: 60px 640px 407px;
}
/*질문 사항. 정적으로 수치를 넣으니까 화면 창에 따라 크기가 줄여지는 게 안됨. 그럼 대부분의 UI를 
  %를 사용해서 수치를 계산해야 하는가? 이런 화면의 경우 어떤 식으로 해야 하는지?? 
  
  안에 요소(input, button) 길이는 정적으로 두고 밖에 컨테이너에서만 크기 조절 로직을 바꿔서
  창 크기를 줄였을 때 자연스럽게 줄어들게 할 수 없나? 
  부트스트랩에서 반응형 DIV 안에 요소만 넣으면 알아서 길이 조절이 되는 것처럼..

  CASE 1 : 밖에도 %, 안에 요소도 %
  CASE 2 : 밖에는 %, 안에 요소는 정적으로 px
  CASE 3 : 밖에도 px, 안에도 px
  */

/*logo*/
.logo__container {
  margin: 0 122px 40px 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__container img {
  width: 103.53px;
  height: 103.88px;
  cursor: pointer;
}

.logo__text {
  font-size: 66.34px;
  font-weight: 700;
  font-family: ROKAF Sans;
  color: var(--blue);
  margin: 23.98px 4.23px 18.02px 22.24px;
}

/*input*/

.login__input__text {
  font-weight: 700;
  font-size: 18px;
  color: var(--gray800);
}

.login__input {
  background-color: var(--gray100);
  width: 640px;
  height: 56px;
  border-radius: 12px;
  border: none;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray800);
  padding-left: 24px;
}

.login__input:focus {
  outline: none;
}

/*button*/
.login__button {
  background-color: var(--blue);
  width: 640px;
  height: 56px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray100);
}

/*sns*/
.snsAuth__container {
  margin: 24px 0;
  width: 640px;
  height: 74px;
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray800);
}

.snsAuth__icon {
  margin-right: 16px;
  width: 42px;
  height: 42px;
}

/*signup*/
.explain__signup__text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray800);
}

.linked__page {
  color: var(--blue);
  margin-left: 4px;
  text-decoration: underline;
  cursor: pointer;
}
