@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

$blue: #3692FF;
$basic: #FCFCFC;

$gray900: #111827;
$gray800: #1f2937;
$gray700: #374151;
$gray600: #4b5563;
$gray500: #6b7280;
$gray400: #9ca3af;
$gray200: #E5E7EB;
$gray100: #F3F4F6;
$gray50: #F9FAFB;


* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
}

body {
    color: $gray700;
    width: 100vw;
    min-width: 1280px;
    overflow-x: hidden;
}

.button {
    background: $blue;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;

    &--normal{
        box-sizing: border-box;
        width: 128px;
        height: 48px;
        color: #F3F4F6;
        padding: 12px 23px;
        border: none;
        font: 600 16px/24px 'Pretendard';
        border-radius: 8px;
}

    &--wide{
        display: block;
        color: #F9FAFB;
        border-radius: 100px;
        padding: 16px 124px;
        font: 600 20px/24px 'Pretendard';
    }
}

.logo {
    height: 100%;
    display: block;

    img {
        height: 100%;
    }
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &--18 {width: 18px; height: 18px;}
    &--24 {width: 24px; height: 24px;}
    &--42 {width: 42px; height: 42px;}
}

.password-container {
    position: relative;
}

#password__toggle {
    position: absolute;
    background: none;
    border: none;
    right: 24px;
    top: 48%;
    transform: translateY(-52%);
}

.land{
    &-header {
        position: fixed;
        top: 0;
        box-sizing: border-box;
        width: 100%;
        height: 70px;
        padding: 9px 200px;
        border-bottom: 1px solid #DFDFDF;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--container{
            max-width: 1920px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    
        :nth-child(2n - 1) {
            flex-direction: row-reverse;
    
            .texts {
                text-align: right;
            }
        }
    
        >:last-child {
            margin-top: 138px;
        }
    }

    &-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;

        p {
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
        }

        &__tag {
            color: $blue;
            font-weight: 700;
            font-size: 18px;
        }

        &__container {
            width: 1110px;
            display: flex;
            align-items: center;
        }

        &--normal {
            width: 988px;
            height: 444px;
            margin: 138px 100%;
            justify-content: end;
            gap: 64px;
            border-radius: 12px;
            background: $basic;
            overflow: hidden;

            &:nth-child(2n){
                justify-content: start;
            }
        }

        &--extend {
            width: 100%;
            height: 540px;
            background: #CFE5FF;
            align-items: end;
    
            .land-h1, .land-h2 {
                text-align: left;
            }
        }
    }

    &-footer {
        height: 96px;
        background: #111827;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 32px 400px;
        font-size: 16px;
    
        a {
            text-decoration: none;
            color: #E5E7EB;
        }
        
        &__begin{
            font-size: 16px;
            color: #9CA3AF;
        }
    
        &__middle{
            display: flex;
            gap: 30px;
        }
    
        &__end{
            display: flex;
            gap: 12px;
        }
    }

    &-h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        margin: 12px 0 24px;
        margin-bottom: 32px;
    }

    &-h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        margin: 12px 0 24px;
    }
}

.sign {
    margin-top: 140px;
    background: $basic;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .sign-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
    
            &__input {
                box-sizing: border-box;
                width: 100%;
                height: 56px;
                padding: 16px 24px;
                border: none;
                border-radius: 12px;
                background: $gray100;
                margin-bottom: 8px;

                &::placeholder {
                    font: normal 400 16px/26px 'Pretendard';
                    color: $gray400;
                }

                &:focus {
                    outline: none;
                    border: 2px solid $blue;
                }
            }
    
            label {
                color: $gray800;
                font: normal 700 18px/26px 'Pretendard';
            }
        }

        footer {
            text-align: center;
            font: normal 500 14px/24px 'Pretendard';
            color: $gray800;

            a {
                color: $blue;
            }
        }
    }
}

.social-log-wrap {
    display: flex;
    box-sizing: border-box;
    width: 640px;
    height: 74px;
    padding: 16px 23px;
    border-radius: 8px;
    background: #E6F2FF;
    align-items: center;
    gap: 10px;
    color: $gray800;
    font: normal 500 16px/26px 'Pretendard';

    &__title{
        flex-grow: 1;
    }
}