.total {
  margin: 2rem;
  background-color: #fcfcfc;
  min-width: 20rem;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 14.385rem;
}

.login-header-logo {
  height: 8.25rem;
  margin: 0;
}

/* form */
.container-box {
  width: 100%;
  max-width: 40rem;
  height: auto;
  margin: 0 auto;
}

.email-password-font {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#email-box,
#password-box,
#name-box,
#password-check-box,
#passwordText,
#passwordTrue {
  box-sizing: border-box;
  background-color: #f3f4f6 !important;
  width: 100%;
  height: 3.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  font-size: 100%;
  font-weight: 400;
  padding: 0 1.5rem;
}

.email-error-message,
.email-valid-message,
.password-error-message,
.password-valid-message,
.passwordTwo-error-message,
.text-error-message {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  color: #f74747;
  display: none;
}

#email-box.error-border,
#password-box.error-border,
#password-check-box.error-border,
#name-box.error-border {
  border: 1px solid #f74747;
}

#email-box.success-border,
#password-box.success-border,
#password-check-box.success-border,
#name-box.success-border {
  border: 1px solid #3692ff;
}

.password-container {
  width: 100%;
  margin-top: 16px;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.password-box-icon,
.password-check-box-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.email-password-box:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #3692ff;
  outline: none;
}

.login-button:disabled {
  width: 100%;
  height: 3.6rem;
  border-radius: 40px;
  background-color: #9ca3af;
  border: 0;
  color: #f3f4f6;
  font-size: 1.3rem;
  font-weight: 600;
  margin: auto;

  text-decoration: none;
}

.login-button:not(:disabled) {
  width: 100%;
  height: 3.6rem;
  border-radius: 40px;
  background-color: #3692ff;
  border: 0;
  color: #f3f4f6;
  font-size: 1.3rem;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}

.login-choice-container {
  width: auto;
  height: 4.63rem;
  border-radius: 8px;
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.login-font {
  font-weight: 500;
  font-size: 100%;
  color: #1f2937;
  padding: 0 0 0 1.5rem;
}

.login-choice {
  height: 2.63rem;
  margin-right: 1rem;
}

.first {
  font-size: 1rem;
  font-weight: 500;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #1f2937;
}

/** ipad **/
@media (max-width: 768px) {
  .login-container {
    /**/
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 11.88rem;
  }
}

@media (max-width: 375px) {
  .login-header-logo {
    /**/
    height: 66px;
    width: 12.38rem;
    height: 4.13rem;
  }

  /* form */
  .container-box {
    max-width: 40rem;
  }

  .password-box {
    width: 24px;
    height: 24px;
  }
}
