@import '../../styles/variables.scss';

.bone {
  width: 120rem;
  margin: 2.4rem auto;
  @media (max-width: 1023px) {
    width: 69.6rem;
  }
  @media (max-width: 743px) {
    width: 34.4rem;
    margin: 1rem auto;
  }
}
