@import '../../styles//variables.scss';

.recent-item {
  height: 67.4rem;
  @media (max-width: 743px) {
    height: fit-content;
  }
}
.recent-item-key {
  display: flex;
  height: 31.7rem;
  width: 22.1rem;
  justify-content: center;
  flex-direction: column;
  img {
    width: 22.1rem;
    height: 22.1rem;
    border-radius: 1rem;
  }
  @media (max-width: 743px) {
    height: 26.4rem;
    width: 16.8rem;
    img {
      width: 16.8rem;
      height: 16.8rem;
      border-radius: 1rem;
    }
  }
}
.recent-item-image {
  width: inherit;
  height: 100%;
  border-radius: 1rem;
}
.recent-items-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 4rem;
  @media (max-width: 743px) {
    row-gap: 2rem;
  }
}
.product-description {
  width: 100%;
  height: 8rem;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-name {
  @include apply-font($font-14, 500);
  color: $secondaryGray-800;
}
.product-price {
  @include apply-font($font-16, 700);
  color: $secondaryGray-800;
}
.product-favorite-count {
  @include apply-font($font-12, 500);
  color: $secondaryGray-600;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
