.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
  position: relative;
}

#hero {
  position: absolute;
  bottom: 0;
  right: 405px;
}

#footer-Menu {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

#social-Media {
  gap: 12px;
  display: flex;
}

#features {
  padding-bottom: 138px;
}

#bottom-Banner {
  position: absolute;
  bottom: 0;
  right: 405px;
}

#login-Link-Button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 23px;
  width: 128px;
  height: 48px;
}

.banner .pill-button {
  margin-top: 32px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 9999;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
}
