main#members {
  min-height: 100vh;
  flex-direction: column;
  input,
  p:not(.text-error) {
    color: #1f2937;
  }
  img#logo {
    height: 132px;
    margin: 60px 0 0;
  }
  > form {
    width: 640px;
    margin: 0 0 60px;
    justify-content: stretch;
    > button#btn-submit {
      font-weight: 600;
      width: 100%;
    }
    > #sns-login-wrapper {
      padding: 16px 23px;
      background-color: #e6f2ff;
      > #sns-login {
        list-style: none;
        * {
          font: inherit;
        }
        #google,
        #kakao {
          width: 42px;
        }
      }
    }
    > #signup-wrapper > a {
      color: var(--primary-100);
      text-decoration: underline;
    }
  }
  @media (width < 768px) {
    padding: 0 16px;
    img#logo {
      height: 66px;
      margin: 80px 0 0;
    }
    > form {
      width: 100%;
      max-width: 400px;
    }
  }
}
