.bone {
  width: 120rem;
  height: 88.3rem;
  margin: 3.2rem auto 9.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}
