.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;

  .divider {
    border: 0.5px solid rgba(229, 231, 235, 1);
    margin-top: 16px;
  }

  img {
    width: 486px;
    height: 486px;
    border-radius: 16px;
    margin-right: 24px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    width: 690px;

    .title {
      display: flex;
      flex-direction: row;
      color: rgba(31, 41, 55, 1);
      font-weight: 600;
      font-size: 24px;
      justify-content: space-between;
    }
    .price {
      font-size: 40px;
      font-weight: 600;
      color: rgba(31, 41, 55, 1);
    }
    .infoDetail {
      margin-top: 40px;
      color: rgba(75, 85, 99, 1);
      span {
        font-weight: 600;
        font-size: 16px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
      }
    }
    .profile {
      margin-top: 62px;
      display: flex;
      flex-direction: row;

      .profile-background {
        background-color: rgba(156, 163, 175, 1);
        border-radius: 40px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-right: 16px;

        img {
          width: 40px;
          height: 40px;
        }
      }
      .name-date {
        display: flex;
        flex-direction: column;
      }
      .heart-container {
        width: 87px;
        height: 40px;
        border-radius: 35px;
        border: 1px solid rgba(229, 231, 235, 1);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: auto;
        font-size: 26px;
        font-weight: 500;

        .heart {
          width: 32px;
          height: 32px;
          margin-right: 5px;
        }
      }
    }
  }
}
