* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

img {
  vertical-align: bottom;
}

body {
  width: 100%;
  padding-top: 70px;
}
