/* tokens */
@import url(./color.css);
@import url(./typography.css);

/* components */
@import url(./components/button.css);

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.loginLinkButton {
  padding: 11px 43px;
}

.banner {
  background-color: #cfe5ff;
}

#banner-top {
  background-image: url("../images/home/Img_home_top.png");
  background-repeat: no-repeat;
}

#banner-bottom {
  background-image: url("../images/home/Img_home_bottom.png");
  background-repeat: no-repeat;
}

.banner__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: var(--gray-700);
  display: flex;
  flex-direction: column;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.section-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-content {
  flex: 1;
}

.section-tag {
  display: inline-block;
  font-size: var(--text-21g);
  font-weight: 700;
  line-height: var(--line-height-2lg);
  color: var(--primary-100);
  margin-bottom: 12px;
}

.section-title__span {
  display: block;
}

.section-title div {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.section-des {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-700);
  margin-top: 24px;
}

.section-item:nth-child(2) {
  text-align: right;
}

.footer {
  background-color: #111827;
  padding-top: 32px;
  padding-bottom: 108px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
}

.footer-wrapper div {
  color: #9ca3af;
}
#footer__menu {
  display: flex;
  gap: 30px;
  color: #f3f4f6;
}

#footer__media {
  display: flex;
  gap: 12px;
}

.header__container {
  box-sizing: content-box;
  max-width: 1200px;
  padding-left: 200px;
  padding-right: 200px;
}

.banner {
  height: 540px;
}

#banner-top,
#banner-bottom {
  background-size: 55%;
  background-position: 80% bottom;
}

.banner__contents {
  display: flex;
  align-items: center;
  height: 540px;
}

.banner-top__title__span {
  display: block;
}

.banner-bottom__title__span {
  display: block;
}

.banner__title h1 {
  margin-bottom: 32px;
}

#banner__btn {
  border-radius: 40px;
  padding: 12px 124px;
  font-size: var(--text-xl);
  line-height: var(--text-xl);
}

.section-wrapper {
  padding: 138px 0;
  gap: 276px;
}

.section-item {
  display: flex;
  align-items: center;
  gap: 5%;
  background-color: #fcfcfc;
}

@media (max-width: 1199px) {
  .header__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .banner {
    height: 771px;
  }

  #banner-top,
  #banner-bottom {
    background-size: 100%;
    background-position: bottom;
  }

  .banner__title {
    text-align: center;
    align-items: center;
  }

  .banner-top__title__span {
    display: inline;
  }

  .banner-bottom__title__span {
    display: block;
  }

  .banner__contents {
    padding-top: 48px;
    flex-direction: column;
  }

  .banner__title h1 {
    margin-bottom: 24px;
  }

  #banner__btn {
    border-radius: 40px;
    padding: 12px 124px;
    font-size: var(--text-xl);
    line-height: var(--text-xl);
  }

  .section-wrapper {
    padding: 24px 24px 56px 24px;
    gap: 52px;
  }

  .section-item {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
  }

  .section-item:nth-child(2) {
    flex-direction: column-reverse;
  }

  .section-tag {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .section-title div {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }

  .section-title__span {
    display: inline;
  }

  .section-des {
    font-size: 18px;
    line-height: 26px;
  }

  .footer-wrapper {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__img {
    display: none;
  }

  .banner {
    height: 540px;
  }

  #banner-top,
  #banner-bottom {
    background-size: 100%;
    background-position: bottom;
  }

  .banner-top__title__span {
    display: block;
  }

  .banner__title h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 18px;
  }

  #banner__btn {
    border-radius: 40px;
    padding: 11px 71px;
    font-size: var(--text-2lg);
    line-height: var(--text-2lg);
  }

  .section-wrapper {
    padding: 52px 15px 83px 15px;
    gap: 40px;
  }

  .section-tag {
    font-size: 16px;
    line-height: 22.4px;
  }

  .section-title div {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
  }

  .section-des {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .footer {
    position: relative;
  }

  .footer__info {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }
}
