.image_wrapper {
  margin-bottom: 16px;
  border: 1px solid var(--gray-200);
  border-radius: 16px;
  overflow: hidden;
}

.image_wrapper svg {
  transition: transform 0.3s ease-in-out;
}

a:hover .image_wrapper svg {
  transform: scale(1.1);
}

.image_wrapper img {
  transition: transform 0.3s ease-in-out;
}

a:hover .image_wrapper img {
  transform: scale(1.1);
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 6px;
}

.price {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 6px;
}

.heart_count {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--gray-600);
}

.heart_count i {
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
}
