@import '../../../styles/variables.scss';

.field {
  display: inline-block;
  margin-bottom: 1.6rem;
  @media (max-width: 743px) {
    margin-bottom: 0.8rem;
  }
}

.input {
  width: 100%;
  padding: 1.5rem 2.4rem;
  border-radius: 1.2rem;
  @include apply-font($font-16, 400);
  color: $secondaryGray-800;
  background-color: $secondaryGray-100;
  border: 1px solid $primaryBlue-100;
  transition: border 0.2s;

  &:hover {
    border-color: $primaryBlue-100;
  }
}

.error {
  border-color: $error;
}
.input-wrapper {
  width: 100%;
  height: 9.8rem;
  margin-bottom: 2.4rem;
  @include apply-font($font-18, 700);
  color: $secondaryGray-800;

  @media (max-width: 743px) {
    height: 8.8rem;
    @include apply-font($font-14, 700);
  }
}

.icon-wrapper {
  width: 24px;
  height: 24px;
  position: relative;
  left: 594px;
  top: -41px;
  cursor: pointer;
  @media (max-width: 743px) {
    left: 302px;
  }
}
.error-position {
  position: relative;
}
.error-message {
  color: $error;
  @include apply-font($font-14, 600);
  margin: 0.5rem;
  position: absolute;
  top: -0.5rem;
}
