nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0 auto;
  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;
}

.header-links {
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.brand {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
  font-family: "ROKAF Sans";
  font-size: 26px;
  color: var(--blue);
  font-weight: 700;
}

.login-button {
  flex-shrink: 0;
  background-color: var(--blue);
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 8px;
}

@media (max-width: 1199px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  .logo {
    display: none;
  }

  .link-list {
    padding: 8px;
    gap: 8px;
  }
}
