.login_body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.login_wrap {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.login_box {
  text-align: left;
}

.login_wrap .member_sub_box span {
  font-size: 14px;
}
.login_wrap .member_sub_box a {
  color: var(--Primary);
  text-decoration: underline;
}
/* Mobile */
@media (max-width: 767px) {
  .login_body {
    padding: 0 16px;
  }
  .login_wrap {
    width: 100%;
    max-width: 400px;
  }

  .login_box label {
    font-size: 14px;
  }

  .login_box .eye {
    top: 42px;
  }
}
