@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
}

* {
  font-family: Pretendard, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --blue: #3682ff;
}
