.field_container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 26px;
  resize: none;
}

.input::placeholder {
  color: var(--gray-400);
}

.tag_box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px 5px 15px;
  background-color: var(--gray-100);
  border-radius: 9999px;
}

.tag span {
  line-height: 26px;
}

.tag button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
