@charset "utf-8";
@import url('./root.css');
@import url('./common.css');


/* ##############################################################
	main page
############################################################## */

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
}
.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    padding: 0 200px;
    margin: 0 auto ;
    height: 70px;
}
.header .el-btn.btn-sm {
    padding: 0 43px;
}

/* contents */
.contents .color-sec {
    padding-top: 200px;
    background-color: #CFE5FF;
}
.contents .color-sec .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}
.contents .banner .img-wrap {
    margin-bottom: -9px;
}
.contents .banner .text {
    font-weight: bold;
    font-size: 40px;
    color: #374151;
}
.contents .banner .el-btn.btn-l {
    margin-top: 32px;
    min-width: 357px;
}
.contents .main-cont section {
    padding: 138px 0;
}
.main-cont .cont-box {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    width: 988px;
    height: 444px;
    border-radius: 12px;
    background: #FCFCFC;
}
.cont-box .box-img {
    height: 100%;
    padding: 0 23px;
}
.cont-box .box-img img {
    width: 100%;
    height: 100%;
}
.cont-box .box-text .keyword {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #3692FF;
}
.cont-box .box-text .text {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
    color: #374151;
}
.cont-box .box-text .info {
    font-size: 24px;
    font-weight: 500;
    color: #374151;
}
.cont-box.ty-revers {
    justify-content: flex-end;
}
.cont-box.ty-revers .box-text {
    text-align: right;
}


/* footer */
.footer {
    padding-top: 32px;
    background-color: #111827;
    height: 160px;
}
.footer .foot-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1120px;
}
.footer .copy {
    font-size: 16px;
    color: #9CA3AF;
}
.footer .page-link ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer .page-link li a {
    font-size: 16px;
    color: #E5E7EB;
}
.footer .sns-link-wrap ul {
    display: flex;
    gap: 12px;
    align-items: center;
}