@charset "utf-8";

:root {
  /* color */
  --color-primary-100: #3692ff;
  --color-primary-200: #1967d6;
  --color-primary-300: #1251aa;
  --color-error: #f74747;

  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #e5e7eb;
  --color-gray400: #9ca3af;
  --color-gray500: #6b7280;
  --color-gray600: #4b5563;
  --color-gray700: #374151;
  --color-gray800: #1f2937;
  --color-gray900: #111827;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 13px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-2lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  /* line-heiht */
  --line-height-xs: 1.5;
  --line-height-sm: 1.69;
  --line-height-md: 1.71;
  --line-height-lg: 1.625;
  --line-height-2lg: 1.556;
  --line-height-xl: 1.6;
  --line-height-2xl: 1.333;
  --line-height-3xl: 1.313;
}
