.gnb-wrapper {
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    padding: 9px 20px;
    border-bottom: 1px solid #DFDFDF;
    background-color: #FFFFFF;
}
.gnb{
    width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}


@media (max-width: 1920px) {
    .gnb-wrapper{
        padding: 9px 0;
    }
    .gnb{
        margin: 0 100px;
    }
}

@media (max-width: 1200px) {
    .gnb{
        margin: 0 24px;
    }
}

@media (max-width: 768px) {
    .gnb{
        margin: 0 16px;
    }
}