.home-container {
    display: flex;
    flex-direction: column;
}
/* landing top,bottom */
.home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    height: 540px;
    background-color: #cfe5ff;
}

.home-wrapper h2 {
    font: var(--text-3xl-bold);
    color: var(--gray---700);
}
.landing-text {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 160px;
    gap: 32px;
    margin-bottom: 100px;
}

.landing-text h2 {
    width: 270px;
}

/* section 설명 부분 */
.section-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fcfcfc;
}

.section-home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 988px;
    height: 444px;
    margin: 138px 0;
    padding: 0 10px;
    gap: 64px;

    background-color: #fcfcfc;
}
.section-home-wrapper.reverse {
    flex-direction: row-reverse;
}

/* home section 글자 부분 */
.section-home-text {
    display: flex;
    flex-direction: column;
    margin: 103px 0;
    gap: 12px;
}
.section-home-text .blue {
    font: var(--text-2lg-bold);
    color: var(--primary---100);
}

.section-home-text span {
    font: var(--text-3xl-bold);
    color: var(--gray---700);
}
.section-home-text p {
    font: var(--text-2xl-medium);
    color: var(--gray---700);
}

.section-home-text.reverse {
    text-align: right;
}

@media (max-width: 1200px) {
    .home-wrapper {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 80px;
    }
    .home-wrapper img {
        width: 100%;
        height: auto;
    }
    .landing-text {
        align-items: center;
        transition: 0.5s;
    }
    .landing-text h2 {
        text-align: center;
    }
    .landing-text.top {
        width: auto;
    }
    .landing-text.top h2 {
        width: 100%;
    }
    /* section */
    .section-home-container {
        width: 100%;
        padding: 0 24px;
    }
    .section-home-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;

        width: 100%;
        height: auto;
        /* height의 중요성!! */
        padding: 0;
        margin: 26px 0;
    }
    .section-home-wrapper.reverse {
        flex-direction: column;
    }
    .section-home-wrapper img {
        width: 100%;
    }
    .section-home-text {
        margin: 24px 0;
    }
    .section-home-text p {
        font: var(--text-2lg-medium);
    }
    .section-home-text span br {
        display: none;
    }
}

@media (max-width: 768px) {
    .landing-text.top {
        width: 240px;
        transition: 0.5s;
    }
    .section-home-container {
        padding: 32px 16px;
    }
    .section-home-wrapper {
        margin: 20px 0;
    }
    .section-home-text .blue {
        font: var(--text-lg-bold);
    }
    .section-home-text span {
        font: var(--text-2xl-bold);
    }
    .section-home-text p {
        font: var(--text-lg-medium);
    }
}
