.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 9999;
}
.nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.left {
  display: flex;
  align-items: center;
}

.left a {
  padding: 0px;
  align-items: center;
}
.left .active {
  color: var(--Primary);
  font-weight: 700;
}
.category {
  margin-left: 20px;
}

.category a {
  padding: 0px 15px;
  color: #4b5563;
}

.logo_top img {
  height: 40px;
  vertical-align: middle;
}
.logo_top img:last-child {
  height: 30px;
  margin-left: 8px;
}
.container {
  max-width: 1520px;
}
/* tablet */
@media (max-width: 1199px) {
}
/* Mobile */
@media (max-width: 767px) {
  .logo_top img:first-child {
    display: none;
  }
  .logo_top img:last-child {
    height: 20px;
    margin-left: 0px;
  }
  .category {
    margin-left: 8px;
  }
  .category a {
    padding: 0px 8px;
  }
  .nav .button {
    padding: 11px 23px;
  }
}
