.all-product-header {
  max-width: 1206px;
  margin: 0 auto 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}

.product-title {
  font-size: var(--text-xl);
  line-height: var(--line-height-xl);
  font-weight: 700;
  color: var(--gray-800);
  flex-shrink: 0;
}

.control-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0px 6px;
}

.create-button {
  background-color: var(--Primary-100);
  color: white;
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: var(--line-height-sm);
  border: none;
  padding: 0 1.6rem;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.dropdown-select {
  width: 130px;
  height: 42px;
  font-size: var(--text-2lg);
  line-height: var(--line-height-2lg);
  padding: 0 16px;
  padding-right: 40px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  background-color: white;
  background-image: url("/src/assets/images/common/ic_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
  appearance: none;
  color: var(--gray-900);
  font-weight: 500;
}

@media (max-width: 1023px) {
  .all-product-header {
    width: 710px;
  }
}

@media (max-width: 767px) {
  .all-product-header {
    width: 378px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  .control-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
    column-gap: 12px;
  }

  .product-title {
    padding: 10px;
    font-size: var(--text-xl);
    line-height: var(--line-height-xl);
    font-weight: 700;
    color: var(--gray-800);
    display: inline-block;
  }

  .create-button {
    position: relative;
    top: -46px;
    right: 8px;
    order: 3;
    align-self: flex-end;
    width: 133px;
    height: 42px;
    background-color: var(--Primary-100);
    color: white;
    font-size: var(--text-sm);
    line-height: var(--line-height-sm);
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
  }

  .search-wrapper {
    flex: 1;
    min-width: 0;
  }

  .dropdown-select {
    position: relative;
    padding: 0;
    left: 8.6rem;
    width: 42px;
    height: 42px;
    background: white url("/src/assets/images/common/btn_sort.svg") no-repeat
      center;
    background-size: 42px 42px;
    border-radius: 8px;
    text-indent: -9999px;
    flex-shrink: 0;
  }
}
