a {
  color: var(--blue);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh auto 0;
  padding: 16px;
  max-width: 640px;
  gap: 40px;
  margin-bottom: 120px;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'ROKAF Sans';
  font-weight: 700;
  font-size: 64px;
  color: var(--blue);
  gap: 20px;
}

.login-logo {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 359px) {
  .login-logo {
    width: 50px;
    height: 50px;
  }
  .brand {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 34px;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-box input:focus {
  outline: 2px solid var(--blue);
}

.input-box .error {
  outline: 1px solid red;
}

.show-password-icon,
.hide-password-icon {
  position: absolute;
  width: 20px;
  right: 16px;
  top: 55px;
  cursor: pointer;
}

.signup-btn,
.login-btn {
  background-color: var(--blue);
  color: white;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  padding: 12px 0 12px;
  border: none;
  border-radius: 40px;
}

.login-btn:disabled,
.signup-btn:disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.social-login {
  display: flex;
  align-items: center;
  background-color: var(--blue-50);
  width: 100%;
  padding: 16px 23px;
  gap: 16px;
  border-radius: 8px;
}

.social-login span {
  flex-grow: 1;
}
