@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

* {
    font-family: 'Pretendard', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrap {
    width: 640px;
    height: 618px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-logo {
    margin-bottom: 10px;
}

form p {
    font-size: 18px;
    font-weight: 700;
    color: rgba(31, 41, 55, 1);
}

form input {
    box-sizing: border-box;
    background-color: rgba(243, 244, 246, 1);
    border: none;
    border-radius: 12px;
    width: 640px;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
}

form #submit {
    border-radius: 40px;
    background-color: rgba(156, 163, 175, 1);
    color: rgba(243, 244, 246, 1);
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.simple-login {
    box-sizing: border-box;
    width: 640px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgba(230, 242, 255, 1);
    border-radius: 8px;
    margin-bottom: 24px;
}

.simple-login p {
    font-size: 16px;
    font-weight: 500;
}

.logos {
    box-sizing: border-box;
    display: flex;
    width: 100px;
    height: 42px;
    justify-content: space-between;
}

.logos img {
    height: 42px;
    width: 42px;
}

.move-to-signup {
    font-size: 14px;
    font-weight: 500;
}

.move-to-signup a {
    text-decoration: none;
    color: rgba(54, 146, 255, 1);
}