.pagination-container {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 60px;
}

.pagination-button {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 9999px;
  background-color: white;
  color: #444;
  font-weight: 500;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #f0f0f0;
}

.pagination-button.active {
  background-color: #3692ff;
  color: white;
  font-weight: bold;
  border-color: #3692ff;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
