main#add-item {
  max-width: 1200px;
  margin: 24px auto 69px;
  > .container {
    > .input-field > #tag-list {
      margin-top: 14px;
      flex-wrap: wrap;
      > #tag {
        padding: 5px 12px 5px 16px;
      }
    }
  }
  @media (width < 1200px) {
    /* Tablet */
    margin: 24px 16px 58px;
  }
  @media (width < 768px) {
    /* Mobile */
  }
}
