* { box-sizing:border-box; margin:0; }

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body { font-family: 'Pretendard-Regular'; font-size:16px; min-width:355px; font-weight: 400; color:var(--Secondary); }
a { text-decoration: none; }

.inner,.box_inner { margin:0 auto;  min-width:325px; max-width:1120px; }

input:hover,
input:focus {outline:1px solid #3692FF;}
input::placeholder { color:#9CA3AF; }
input[type='submit'] { outline:0; }

/* 상단 */
header { position:sticky; top:0; width:100%; background-color: #fff; z-index: 9999; }
header .inner { display:flex; justify-content: space-between; align-items: center; padding:13px 0; }
header .inner .logo_top img { height:40px; vertical-align: middle; }
header .inner .logo_top img:last-child { height:30px; margin-left:8px; }



/* 내용 _ mainimg */
.main_title { width:100%; background-color: #CFE5FF ; height: 540px; }
.main_title .inner { 
  position:relative; 
  height:100%; 
  background-image: url(../images/Img_home_top.png); 
  background-position: bottom right; 
  background-repeat: no-repeat; 
}
.main_title h1 { font-weight:700; margin-bottom:25px; }
.main_title .text_box { position:absolute; top:40%; left:0; }


/* 내용 _ section */
.section { height: 720px;  }
.section .box_inner { 
  display:flex; height: 100%; align-items: center; 
}
.section .box_inner .box { 
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  background-color: #FCFCFC;
  gap: 40px;
  border-radius: 12px;
  padding: 0 23px; 
  cursor: pointer;
  max-width: 100%;
}
.section .box_inner .box img {
  width: 57%;
}
.section .box_inner .box > div {
  padding:0 23px;
}
.section .box_inner .box span { 
  font-weight: 700;
  color:var(--Primary);
}
.section .box_inner .box h2 { 
  font-weight: 700; 
  margin-top:12px;
  margin-bottom:24px;
}
.section .box_inner .box p { 
  font-weight: 500; 
}

.section._2 .box { text-align: right; flex-direction: row-reverse;}


.section._4 { 
  height:540px; background-color: #CFE5FF; 
  cursor: pointer;
}

.section._4 .inner {
  position:relative; 
  height:100%; 
  background-image: url(../images/Img_home_bottom.png); 
  background-position: bottom right; 
  background-repeat: no-repeat; 
  margin-top:138px;
}
.section._4 .text_box { position:absolute; top:50%; left:0; }
.section._4 h1 { 
  font-weight:700; 

}

/* 하단 */
footer { 
  background-color: var(--Cool_Gray_900);
}
footer .inner {
  position:relative;
  display: flex;
  justify-content: space-between;

  padding:32px 0 108px;
}
footer .inner .left {
  color:var(--Cool_Gray_400);
}

footer .inner .center {
 display:flex;
 gap: 30px;
}

footer .inner .center a {
  color:var(--Cool_Gray_400);
}

footer .inner .right {
 display:flex;
 gap: 10px;
}


/* tablet */
@media (max-width: 1199px) {

  div.inner { padding-left:24px; padding-right:24px; }
  .section { height:500px; }
  
  .main_title { height:771px; margin-bottom:24px; }
  .main_title h1 br { display:none; }
  
  .section { height:auto; }
  .section .box_inner { padding:0px 24px 0px; height:auto;}
  .section .box_inner .box { flex-direction:column; width:100%; gap: 24px; background-color:#fff; align-items: stretch; padding: 0px;  }
  .section .box_inner .box > div { padding: 0 0 52px; }
  .section .box_inner .box > div h2 { margin-top: 16px; margin-bottom: 16px; }
  .section .box_inner .box > div h2 br { display:none; }
  .section .box_inner .box img { width:100%; }

  .main_title .text_box,
  .section._4 .text_box { width:100%; padding:0 24px; text-align: center; top:84px; }
  .main_title .inner,
  .section._4 .inner { background-position: bottom center; }
  .section._4 .text_box { top:20%; }
  .section._4 { height:927px; }
  .section._4 .inner { margin-top: 4px; }

  footer .inner .right { padding-right:80px; }
  footer .inner .left { padding-left:80px; }

}
/* Mobile */
@media (max-width: 767px) {
  
  header .inner .logo_top img:first-child { display:none; }

  div.inner { padding-left:16px; padding-right:16px; }

  .main_title { height:540px; }
  .main_title h1 br { display:block; }

  .section .box_inner .box > div h2 { margin-top: 8px; margin-bottom: 8px; }

  .section .box_inner { padding:0px 16px 0;}
  .section .box_inner .box > div { padding: 0 0 40px; }
  .section._4 .inner, 
  .main_title .inner { background-size: contain; }
  .section._4 { height:540px; }
  .section._4 .inner { margin-top: 43px; }

  footer .inner .left { position: absolute; bottom:32px; }
  footer .inner .right { padding-right:16px; }
  footer .inner .center { padding-left:16px; }
  footer .inner .left { padding-left:16px; }
}
