


/* 로그인 페이지 */

#login { min-height: 100vh; display: flex; align-items: center; }
.login_wrap { width:100%; max-width:640px; margin:0 auto; text-align: center; }
.login_wrap .logo { margin-bottom:55px; }
.login_wrap .logo a img { vertical-align: middle; }
.login_wrap .logo a img:first-child { height:100px; margin-right:22px; }
.login_wrap .logo a img:last-child { height:50px; }

.login_wrap .login_box { text-align: left; }
.login_wrap .login_box label { 
  position:relative; display:block; 
  font-weight:700; font-size:18px; 
  margin-bottom:24px;
}
.login_wrap .login_box input[type='email'],
.login_wrap .login_box input[type='password'],
.login_wrap .login_box input[type='text']  { 
  display:block; width:100%; margin-top:16px;
  padding:15px 24px; background-color: var(--Cool_Gray_100); 
  border-radius: 12px; border:0; 
}
/* error */
.error_box input[type='email'],
.error_box input[type='password'],
.error_box input[type='text'] {
  outline:1px solid #F74747;
}

.login_wrap .login_box .eye {
  position: absolute; right: 18px; top: 48px;
  cursor: pointer;
}

.login_wrap .login_box span.error { 
  display:block;
  color: #F74747; font-size:14px; font-weight: 500;
  line-height: 24px;
  margin-left: 16px; margin-top:8px;
}
.login_wrap .login_box #submit { 
  display:block; width:100%; 
  border-radius: 9999px; 
  outline:0;
  padding:12px 0; color: var(--Cool_Gray_100); 
  font-size:20px; font-weight:600; line-height:32px;
  background-color: var(--Primary); border:0; cursor: pointer;
}
.login_wrap .login_box #submit:disabled { background-color: #9CA3AF; }

.login_wrap .sns_login {  
  background-color: #E6F2FF; color:#1F2937;
  padding:14px 23px; margin-top:24px; margin-bottom:24px; border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.login_wrap .sns_icon a { display:inline-block; margin-left:8px; }
.login_wrap .sns_icon a img { height: 42px; width:42px; }

.login_wrap .member_sub_box span { font-size:14px; }


/* Mobile */
@media (max-width: 767px) {
  #login { padding:0 16px; }
  .login_wrap { width:100%; max-width:400px; }
  
  .login_wrap .logo a img:first-child { height:52px; margin-right:8px; }
  .login_wrap .logo a img:last-child { height:40px; }
  .login_wrap .login_box label { font-size:14px; }
}
