.button {
  height: 42px;
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-100);
  background-color: var(--blue);
  cursor: pointer;
}

.button:disabled {
  cursor: auto;
  background-color: var(--gray-400);
}
