.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputContainer label {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.inputContainer input {
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  background-color: var(--gray-100);
}
.inputContainer input:focus {
  outline-color: var(--blue);
}
