.returnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: max(40px, 5%);
}

.returnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  width: 240px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  color: var(--gray-100);
  padding: 12px 24px;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.returnButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 48px;
  background-color: var(--blue);
  border-radius: 10rem;
  z-index: -2;
}

.returnButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 48px;
  background-color: var(--blue-100);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.returnButton:hover::before {
  color: #fff;
  width: 240px;
}

.returnIcon {
  display: inline-block;
}
