.Search {
  position: relative;
}

.search-bar {
  flex: 1 1 240px;
  padding: 9px 20px 9px 44px;
  border: none;
  background-color: var(--gray-100);
  border-radius: 12px;
  height: 42px;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 9px;
}
