.bestProducts {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 1200px;
}

.bestProductsTitle {
  composes: font-xl font-bold from global;
}

.bestProductsList {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}

.bestProductElement {
  width: 282px;
  height: 378px;
}

@media (max-width: 1023px) {
  .bestProductElement {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .bestProductElement {
    width: 100%;
    height: auto;
  }
}
