/* main.css */
* {
  box-sizing: border-box;
}

.body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  padding-top: 70px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 clamp(16px, 6vw, 24px);
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 51px;
  padding: 5px 0;
}

.header-login-btn {
  background-color: var(--primary-100);
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  width: 128px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-login-btn:hover {
  background-color: var(--primary-200);
}

/* banner */

.main-banner,
.sub-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 540px;
  flex-shrink: 0;
  background: #cfe5ff;
}

.main-banner-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.main-banner-left,
.sub-banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(16px, 2vw, 32px);
  padding-bottom: 60px;
}

.main-banner-text,
.sub-banner-text {
  color: var(--Secondary-700);
  font-family: "Pretendard";
  font-size: var(--fs-title);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  white-space: nowrap;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.browse-btn {
  display: flex;
  padding: 16px 124px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--primary-100);
  color: var(--secondary-50);
  border: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.browse-btn:hover {
  background-color: var(--primary-200);
}

.main-banner-image,
.sub-banner-image {
  display: flex;
  width: 746px;
  height: 340px;
  justify-content: center;
  align-items: center;
}

.sub-banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  height: 100%;
}

.sub-banner-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto;
  padding-top: 200px;
  gap: 32px;
}

.sub-banner-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

/* info-card */
.info-card-section {
  background: #fff;
  display: flex;
  padding: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-card {
  display: flex;
  width: 988px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 12px;
  background: #fcfcfc;
}

.info-card-image {
  background: var(--secondary-100);
  width: 588px;
  height: 444px;
  flex-shrink: 0;
}

.info-card-text {
  display: flex;
  padding-right: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.info-card-label {
  color: var(--primary-100);
}

.info-card-title {
  color: var(--Secondary-700, #374151);
  font-family: "pretendard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.8px;
  white-space: nowrap;
  margin-bottom: 12px;
}

.info-card-description {
  color: var(--secondary-700);
  font-style: normal;
  white-space: nowrap;
}

.info-card.reverse {
  flex-direction: row-reverse;
  gap: 32px;
}

.info-card.reverse .info-card-text {
  text-align: right;
  align-items: flex-end;
}

/* footer */

.footer {
  background-color: var(--secondary-900);
  color: var(--Secondary-400, #9ca3af);
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1120px;
  padding-top: 32px;
}

.copyright {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.footer-links {
  display: flex;
  text-align: center;
  gap: 30px;
}

.footer-links > a {
  text-decoration: none;
  color: var(--Secondary-400, #9ca3af);
  transition: color 0.3s ease;
}

.footer-links > a:hover {
  color: #ffffff;
}

.footer-sns-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.footer-sns-links > a {
  text-decoration: none;
}

.footer-sns-links > a > img {
  width: 20px;
  height: 20px;
}

/* responsive styles */
/* Tablet */

@media (min-width: 768px) and (max-width: 1199px) {
  /* header */
  .header-inner {
    padding: 0 24px;
  }

  /* banner */
  .main-banner {
    height: fit-content;
    padding: 0;
    width: 100%;
  }

  .main-banner-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 24px;
    margin-top: 48px;
  }

  .main-banner-text,
  .sub-banner-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
  }

  .browse-btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main-banner-image,
  .sub-banner-image {
    width: 100%;
    padding: 0;
  }

  /* info cards */
  .info-card-section {
    padding: 24px;
  }

  .info-card,
  .info-card.reverse {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 696px;
  }

  .info-card.reverse {
    text-align: right;
    align-items: flex-end;
  }

  .info-card-title br {
    display: none;
  }

  .info-card-image {
    width: 696px;
  }

  /* sub banner */
  .sub-banner {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 28px;
    padding-bottom: 0;
  }

  .sub-banner-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 100%;
    width: 100%;
    padding-bottom: 0;
  }
}
/* mobile */
@media (min-width: 375px) and (max-width: 767px) {
  /* .body {
    width: 100%;
    max-width: 375px;
  }

  .header-inner {
    padding: 10px 16px;
    width: 100%;
    max-width: 375px;
  }

  .logo-icon {
    display: none;
  }

  .main-banner,
  .sub-banner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .main-banner {
    margin-bottom: 52px;
  }

  .main-banner-wrapper,
  .sub-banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-banner-left {
    align-items: center;
    text-align: center;
  }

  .main-banner-text {
    margin-top: 48px;
    margin-bottom: 4px;
  }

  .main-banner-text,
  .sub-banner-text {
    font-size: 32px;
    text-align: center;
  }

  .browse-btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main-banner-image,
  .sub-banner-image {
    width: 100%;
    max-width: 448px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 0;
  }

  /* info cards */
  .info-card-section {
    padding: 52px;
  }

  .info-card,
  .info-card.reverse {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    width: 100%;
  }

  .info-card.reverse {
    text-align: right;
    align-items: flex-start;
  }

  .info-card.reverse .info-card-text {
    width: 100%;
    align-items: flex-end;
    text-align: right;
  }

  .info-card-image {
    width: 100%;
    max-width: 344px;
  } */
}
