.icon_box {
  display: flex;
  margin-left: 5px;
  border: none;
  outline: none;
  background-color: none;
  cursor: pointer;
}

.field_input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field_input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 26px;
  resize: none;
}

.field_input::placeholder {
  color: var(--gray-400);
}

/** 모바일 반응형 */
@media (min-width: 375px) and (max-width: 767px) {
}
