@import "global.scss";

h1, h2 { margin: 12px 0 24px; }
h1 { margin-bottom: 32px; }

header {
    position: sticky;
    width: 100%;
    height: 70px;
    padding: 9px 200px;
    border-bottom: 1px solid #DFDFDF;
    background: #fff;

    .container{
        max-width: 1920px;
        width: 100%;
        height: 100%;
    }
}
   

main {
    >:last-child { margin-top: 138px; }
}
                                                                                                                                                                                                                                                                                                                                                   
.section {
    background: #fff;

    p {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    &__tag {
        color: $primary-100;
        font-weight: 700;
        font-size: 18px;
    }

    &__container {
        width: 1110px;
        display: flex;
        align-items: center;
    }

    &--normal {
        width: 988px;
        height: 444px;
        margin: 138px 100%;
        
        border-radius: 12px;
        background: $basic;
        overflow: hidden;
    }

    &--extend {
        width: 100%;
        height: 540px;
        background: #CFE5FF;
    }
}


footer {
    height: 160px;
    background: #111827;
    text-decoration: none;
    padding: 32px 400px;
    font-size: 16px;

    a { color: $secondary-300; }
    
    &__begin{
        font-size: 16px;
        color: $secondary-400;
    }
}

@media (max-width: $tablet) {
    body { background: $basic; }
    header { padding: 9px 24px; }
    h2 { margin: 16px 0 24px; }

    .section {
        p {
            font-size: 18px;
            line-height: 26px;
        }

        &--normal {
            width: 100%;
            height: auto;
            flex-direction: column;
            box-sizing: border-box;
            align-items: end;
            padding: 0 24px;
            margin-top: 24px;
            margin-bottom: 28px;

            img {
                width: 100%;
                border-radius: 14px;
            }
            h1, h2 > br { display: none; }
            &:nth-child(even) { align-items: flex-start; }
            &:nth-child(odd) { flex-direction: column-reverse; }
        }

        &--extend {
            height: 770px;
            h1, h2 { text-align: center; }
            h2 {
                font-size: 40px;
                line-height: 140%;
            }
            &:first-child br {
                display: none;
            }
            &:last-child { margin-top: 28px; }
        }

        &__container{
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-top: 84px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    footer { padding: 32px 104px; }
}

@media (max-width: $mobile) {
    header { padding: 9px 16px; }
    h2 { margin: 8px 0 16px; }
    .logo {
        padding: 8px 0;
        background-image: url('/images/logo_typo_only.svg');
    }

    .section {
        p {
            font-size: 16px;
        }

        &--normal {
            margin-bottom: 40px;
        }

        &--extend {
            &:first-child br { display: block; }
            h2 {
                font-size: 32px;
                line-height: 140%;
            }
        }

        &__tag { font-size: 16px; }
    }
    footer {
        padding: 32px 32px;
        flex-wrap: wrap;
    }
}