main#login {
  min-height: 100vh;
  flex-direction: column;
}
main#login input,
main#login p {
  color: #1f2937;
}
main#login > img#logo {
  height: 132px;
  margin: 60px 0 0;
}
main#login > form {
  width: 640px;
  margin: 0 0 60px;
}
/* Input Field */
.input-field {
  width: 640px;
}
.input-wrapper {
  gap: 10px;
  padding: 16px 24px;
  background-color: var(--cool-gray-100);
  flex: auto 1;
}
.input-wrapper:has(input:focus) {
  border: 2px solid #3692ff;
}
.input-wrapper > input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 26px;
}
.input-wrapper > input:focus {
  outline: none;
}
.input-wrapper > input::placeholder {
  color: #9ca3af;
}
.input-wrapper > #visibility {
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  background-image: url("../assets/images/login/visibility_off.svg");
}
.input-wrapper > #visibility:checked {
  background-image: url("../assets/images/login/visibility_on.svg");
}
form > button#btn-submit {
  font-weight: 600;
  width: 100%;
}
#sns-login-wrapper {
  padding: 16px 23px;
  background-color: #e6f2ff;
}
#sns-login-wrapper > #sns-login {
  list-style: none;
}
#google,
#kakao {
  width: 42px;
}
#signup-wrapper > * {
  font: inherit;
}
#signup-wrapper > a {
  color: var(--primary-100);
  text-decoration: underline;
}
