main#signup {
  min-height: 100%;
  flex-direction: column;
}
main#signup input,
main#signup p {
  color: #1f2937;
}
main#signup img#logo {
  height: 132px;
  margin: 60px 0 0;
}
main#signup > form {
  width: 640px;
  margin: 0 0 60px;
}
/* Input Field */
.input-wrapper > #visibility-again {
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  background-image: url("../assets/images/login/visibility_off.svg");
}
.input-wrapper > #visibility-again.checked {
  background-image: url("../assets/images/login/visibility_on.svg");
}
form > button#btn-submit-signup {
  font-weight: 600;
  width: 100%;
}
