@import "/global.scss";

.password-container {
    position: relative;
}

.show-password {
    position: absolute;
    background: none;
    border: none;
    right: 24px;
    left: auto;
    top: 50%;
    transform: translateY(-65%);
    background-image: url(/images/ico_eye-open.svg);

    &.password-hide {
        background-image: url(/images/ico_eye-close.svg);
    }
}

.sign {
    margin-top: 140px;
    background: $basic;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .logo {
            height: 132px;
            background-position: 50% 50%;
        }

        .sign-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
    
            &__input {
                box-sizing: border-box;
                width: 100%;
                height: 56px;
                padding: 16px 24px;
                border: none;
                border-radius: 12px;
                background: $secondary-200;
                margin-bottom: 8px;

                &--error {
                    outline: none;
                    border: 2px solid $error-red;
                }

                &::placeholder {
                    font: normal 400 16px/26px 'Pretendard';
                    color: $secondary-400;
                }

                &:focus {
                    outline: none;
                    border: 2px solid $primary-100;
                }

                &__msg {
                    font-size: 14px;
                    margin-left: 14px;
                    margin-top: -16px;
                    color: $error-red;
                }
            }
    
            label {
                color: $secondary-800;
                font: normal 700 18px/26px 'Pretendard';
            }
        }

        footer {
            text-align: center;
            font: normal 500 14px/24px 'Pretendard';
            color: $secondary-800;

            a {
                color: $primary-100;
            }
        }
    }
}

.social-log-wrap {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 74px;
    padding: 16px 23px;
    border-radius: 8px;
    background: #E6F2FF;
    align-items: center;
    gap: 10px;
    color: $secondary-800;
    font: normal 500 16px/26px 'Pretendard';

    &__title{
        flex-grow: 1;
    }
}

@media (max-width: $mobile) {
    .sign-container{
        width: 100%;
        max-width: 400px;
        padding: 0 16px;
        gap: 16px;

        .sign-form {
            margin-top: 8px;
        }

        .logo {
            width: 198px;
            height: 66px;
        }
    }
}