/* Input Field */
.input-wrapper > #visibility-again {
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  background-image: url("../assets/images/login/visibility_off.svg");
}
.input-wrapper > #visibility-again.checked {
  background-image: url("../assets/images/login/visibility_on.svg");
}
form > button#btn-submit-signup {
  font-weight: 600;
  width: 100%;
}
