.userInfo {
  display: flex;
  align-items: center;
}
.userInfo > div span:first-child {
  color: var(--Secondary_600);
  font-size: 14px;
}
.userInfo > div span:last-child {
  color: var(--Cool_Gray_400);
  font-size: 14px;
}
